
@model List<DoAn3.Models.Game>

@{
    ViewBag.Title = "Index";

}



<body class="emthemesModez-productUniform">


    <div class="body">
        <div class="container">
            <div class="emthemesModez-section1">



                <div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel" style="height:50%">
                    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
                        <button type="button"
                                data-bs-target="#carouselExampleCaptions"
                                data-bs-slide-to="0"
                                class="active"
                                aria-current="true"
                                aria-label="Slide 1"></button>
                        <button type="button"
                                data-bs-target="#carouselExampleCaptions"
                                data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button"
                                data-bs-target="#carouselExampleCaptions"
                                data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner relative w-full overflow-hidden" style="background-position: 50%;">
                        <div class="carousel-item active relative float-left w-full">
                            <img ca src="https://cdn11.bigcommerce.com/s-l162g981az/images/stencil/original/carousel/13/slide03__02957.jpg?c=2"
                                 class="block w-full "
                                 alt="..." />
                            <div class="carousel-caption absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(0,0,0,0.3);">
                                <div class="flex justify-content-end items-center h-full" style="margin-left:10%">
                                    <img src="~/Content/images/378-product01__38796.1490085945.jpg" width="150" height="200 " />
                                    <div style="margin-left:10px">
                                        <h5 class="font-bold text-cyan-600">
                                            Apex Legends champion edition

                                        </h5>
                                        <p class="text-white w-80">Phiêu lưu rượt đuổi thú vị.</p>
                                        <button class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item relative float-left w-full">
                            <img src="https://cdn11.bigcommerce.com/s-l162g981az/images/stencil/original/carousel/12/slide02__51630.jpg?c=2"
                                 class="block w-full"
                                 alt="..." />
                            <div class="carousel-caption absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(0,0,0,0.3);">
                                <div class="flex justify-content-end items-center h-full" style="margin-left:10%">
                                    <img src="~/Content/images/378-product01__38796.1490085945.jpg" width="150" height="200 " />
                                    <div style="margin-left:10px">
                                        <h5 class="font-bold text-cyan-600">
                                            Apex Legends champion edition

                                        </h5>
                                        <p class="text-white w-80">Phiêu lưu rượt đuổi thú vị.</p>
                                        <button class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item relative float-left w-full">
                            <img src="https://cdn11.bigcommerce.com/s-l162g981az/images/stencil/original/carousel/12/slide02__51630.jpg?c=2"
                                 class="block w-full"
                                 alt="..." />
                            <div class="carousel-caption absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(0,0,0,0.3);">
                                <div class="flex justify-content-end items-center h-full" style="margin-left:10%">
                                    <img src="~/Content/images/378-product01__38796.1490085945.jpg" width="150" height="200 " />
                                    <div style="margin-left:10px">
                                        <h5 class="font-bold text-cyan-600">
                                            Apex Legends champion edition

                                        </h5>
                                        <p class="text-white w-80">Phiêu lưu rượt đuổi thú vị.</p>
                                        <button class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="emthemesModez-section1-links">
                    <ul class="emthemesModez-section1-links-list">
                        <li class="emthemesModez-section1-links-item"><a href="#">Downloads</a><small>Games &amp;amp; Addons</small></li>
                        <li class="emthemesModez-section1-links-item"><a href="#">Pre-Order</a><small>Great Values</small></li>
                        <li class="emthemesModez-section1-links-item"><a href="#">Trade-Ins</a><small>Great Offers</small></li>
                        <li class="emthemesModez-section1-links-item"><a class="alt" href="#">Monthly Deals</a><small>Current Sales</small></li>
                    </ul>
                    <span class="emthemesModez-section1-rightCorner">
                        <svg><use xlink:href="#icon-carousel-curve-right"></use></svg>
                    </span>
                </div>
            </div>
            <!-- snippet location home_content -->



            <div class="main full" style="margin-top:50px">



                
                <div class="emthemesModez-productsByCategoryTabs emthemesModez-productsByCategoryTabs--subcategories
            emthemesModez-productsByCategoryTabs--style2
            emthemesModez-productsByCategoryTabs--instance1
        " ng-controller="getLoaiMay">

                    <ul class="tabs" data-tab-emthemesmodez-products-by-category-tabs role="tablist">
                        <li class="li-heading"><h2 class="page-heading" ng-init="GetData()" ng-click="GetData()"><span>Giảm giá nhiều nhất</span></h2></li>
                        <li class="tab " role="presentation" style="display: flex; justify-content: left" ng-repeat="lm in loaimay"><a ng-click="GetData(lm.MaMay)" class="tablinks tab-title " role="tab" tabindex="0" aria-selected="true">{{lm.TenMay}}</a></li>
                        <li class="li-heading"><h2 class="page-heading" ng-click="GetData(0)"><span>Tất cả sản phẩm</span></h2></li>


                    </ul>
                    <div class="tabs-contents" id="Tokyo">
                        <section class="productCarousel" id="dataGame" style="display:flex;justify-content:left;margin:10px">
                            <div class="productCarousel-slide" ng-repeat="data in products">
                                <article class="card ">
                                    <figure class="card-figure">
                                        <a ng-href="/Home/Detail/{{data.MaGame}}">
                                            <img class="card-image" ng-src="{{data.AnhGame}}" alt="[Sample] Smith Journal 13" title="[Sample] Smith Journal 13">
                                        </a>
                                        <figcaption class="card-figcaption">
                                            <div class="card-figcaption-body">
                                                <div class="card-buttons">
                                                    <a href="@Url.Action("AddCart", "Home")?id={{data.MaGame}}" class="button button--small card-figcaption-button">Add to Cart</a>


                                                    <a href="/Home/Detail/{{data.MaGame}}" class="button button--small card-figcaption-button quickview" data-product-id="111">Quick view</a>
                                                </div>

                                                <div class="card-buttons card-buttons--alt">

                                                </div>0
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a ng-href="@Url.Action("Detail", "Home")?id={{data.MaGame}}">{{data.TenGame}}</a>
                                        </h4>

                                        <div class="card-text" data-test-info-type="price">
                                            <div class="price-section price-section--withoutTax ">
                                                <span data-product-price-without-tax class="price price--withoutTax">{{data.GiaTien|myCurrency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>



                        </section>
                    </div>
                </div>



                <div class="emthemesModez-bannersGamePlatform emthemesModez-bannersGamePlatform--1">
                    <div class="emthemesModez-bannersGamePlatform-banner emthemesModez-bannersGamePlatform-banner">
                        <div class="banner-heading">
                            <h3 class="content-heading">Xbox 360</h3>
                            <span class="sep"><svg><use xlink:href="#icon-curve-left-h40"></use></svg></span>
                            <a href="#">Shop All</a>
                        </div>
                        <div class="banner-body">
                            <div class="banner-image">
                                <img src="~/Content/images/images-banner01-c.jpg" alt="Xbox 360" title="Xbox 360">
                            </div>
                            <div class="banner-content">
                                <p>
                                    <span class="text1">From</span>
                                    <span class="text2">$197.99</span>
                                    <span class="text3">Microsoft Refurbished</span>
                                </p>
                                <p>
                                    <a class="button button--small button--1" href="#">Nền tảng mua</a>
                                    <a class="button button--small button--2" href="#">Xem liên kết</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="emthemesModez-bannersGamePlatform-banner">
                        <div class="banner-heading">
                            <h3 class="content-heading">Play Station 4</h3>
                            <span class="sep"><svg><use xlink:href="#icon-curve-left-h40"></use></svg></span>
                            <a href="#">Shop All</a>
                        </div>
                        <div class="banner-body">
                            <div class="banner-image">
                                <img src="~/Content/images/images-banner02-c.jpg" alt="Play Station 4" title="Play Station 4">
                            </div>
                            <div class="banner-content">
                                <p>
                                    <span class="text1">From</span>
                                    <span class="text2">$299.65</span>
                                    <span class="text3">Sony Refurbished</span>
                                </p>
                                <p>
                                    <a class="button button--small button--1" href="#">Shop Platform</a>
                                    <a class="button button--small button--2" href="#">Shop Accessories</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="emthemesModez-bannersGamePlatform-banner">
                        <div class="banner-heading">
                            <h3 class="content-heading">Wii</h3>
                            <span class="sep"><svg><use xlink:href="#icon-curve-left-h40"></use></svg></span>
                            <a href="#">Shop All</a>
                        </div>
                        <div class="banner-body">
                            <div class="banner-image">
                                <img src="~/Content/images/images-banner03-c.jpg" alt="Wii" title="Wii">
                            </div>
                            <div class="banner-content">
                                <p>
                                    <span class="text1">From</span>
                                    <span class="text2">$99.59</span>
                                    <span class="text3">Nitendo Refurbished</span>
                                </p>
                                <p>
                                    <a class="button button--small button--1" href="#">Shop Platform</a>
                                    <a class="button button--small button--2" href="#">Shop Accessories</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="emthemesModez-bannersGamePlatform emthemesModez-bannersGamePlatform--2">
                    <div class="emthemesModez-bannersGamePlatform-banner">
                        <div class="banner-body">
                            <div class="banner-image">
                                <img src="~/Content/images/images-banner04-c.jpg" alt="Shop Kinect" title="Shop Kinect">
                            </div>
                            <div class="banner-content">
                                <p>
                                    <a class="button button--small button--1" href="emthemesmodez.banners.game_platform_2.banner1.html">Shop Kinect</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="emthemesModez-bannersGamePlatform-banner">
                        <div class="banner-body">
                            <div class="banner-image">
                                <img src="~/Content/images/images-banner05-c.jpg" alt="Shop Playstation Move" title="Shop Playstation Move">
                            </div>
                            <div class="banner-content">
                                <p>
                                    <a class="button button--small button--1" href="emthemesmodez.banners.game_platform_2.banner2.html">Shop Playstation Move</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="emthemesModez-bannersGamePlatform-banner">
                        <div class="banner-body">
                            <div class="banner-image">
                                <img src="~/Content/images/images-banner06-c.jpg" alt="Shop Wii Remote Plus" title="Shop Wii Remote Plus">
                            </div>
                            <div class="banner-content">
                                <p>
                                    <a class="button button--small button--1" href="emthemesmodez.banners.game_platform_2.banner3.html">Shop Wii Remote Plus</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="emthemesModez-section emthemesModez-section--newProducts " ng-controller="getData">
                    <h2 class="page-heading">Sản phẩm mới</h2>
                    <!--- Render data products to new products -->
                    <section class="productCarousel">
                        
                            <div class="productCarousel-slide" ng-repeat="data in datas| orderBy:'-MaGame'">
                                <article class="card ">
                                    <figure class="card-figure">
                                        <a href="/Home/Detail/{{data.MaGame}}">
                                            <img class="card-image" ng-src="{{data.AnhGame}}" alt="{{data.TenGame}}" title="{{data.TenGame}}">
                                        </a>
                                        <figcaption class="card-figcaption">
                                            <div class="card-figcaption-body">
                                                <div class="card-buttons">
                                                    <a href="@Url.Action("AddCart", "Home")?id={{data.MaGame}}" class="button button--small card-figcaption-button">Add to Cart</a>


                                                    <a href="/Home/Detail/{{data.MaGame}}" class="button button--small card-figcaption-button quickview" data-product-id="111">Quick view</a>
                                                </div>

                                                <div class="card-buttons card-buttons--alt">

                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="smith-journal-13.html">{{data.TenGame}}</a>
                                        </h4>

                                        <div class="card-text" data-test-info-type="price">
                                            <div class="price-section price-section--withoutTax ">
                                                <span data-product-price-without-tax class="price price--withoutTax">{{data.GiaTien|myCurrency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        


                    </section>
                </div>





                <div class="emthemesModez-section emthemesModez-section--newProducts ">
                    <h2 class="page-heading">Sản phẩm gợi ý</h2>

                    <section class="productCarousel" ng-controller="getData">

                        <div class="productCarousel-slide" ng-repeat="data in datas">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a ng-href="/Home/Detail/{{data.MaGame}}">
                                        <img class="card-image" ng-src="{{data.AnhGame}}" alt="[Sample] Smith Journal 13" title="[Sample] Smith Journal 13">
                                    </a>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <div class="card-buttons">
                                                <a href="@Url.Action("AddCart", "Home")?id={{data.MaGame}}" class="button button--small card-figcaption-button">Add to Cart</a>


                                                <a href="/Home/Detail/{{data.MaGame}}" class="button button--small card-figcaption-button quickview" data-product-id="111">Quick view</a>
                                            </div>

                                            <div class="card-buttons card-buttons--alt">

                                            </div>0
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a ng-href="/Home/Detail/{{data.MaGame}}">{{data.TenGame}}</a>
                                    </h4>

                                    <div class="card-text" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">{{data.GiaTien|myCurrency}}</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>



                    </section>
                </div>




                <div class="emthemesModez-section emthemesModez-section--topProducts ">
                    <h2 class="page-heading">Game có nhiều lượt truy cập</h2>

                    <ul class="productList productList--maxCol4" data-product-type="top_sellers" ng-controller="GetGameMostView">
                        <li class="product" ng-repeat="data in games | orderBy:'-Views'">
                            <a ng-href="/Home/Detail/{{data.MaGame}}">
                                <article class="listItem">
                                    <figure class="listItem-figure">
                                        <img class="listItem-image" ng-src="{{data.AnhGame}}" alt="{{data.TenGame}}" title="{{data.TenGame}}">
                                    </figure>
                                    <div class="listItem-body">
                                        <div class="listItem-content">
                                            <div class="listItem-details">
                                                <p class="listItem-rating">
                                                    <span class="rating--small">
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star"></use>
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star"></use>
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star"></use>
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star"></use>
                                                            </svg>
                                                        </span>
                                                        <span class="icon icon--ratingEmpty">
                                                            <svg>
                                                                <use xlink:href="#icon-star"></use>
                                                            </svg>
                                                        </span>
                                                        <!-- snippet location product_rating -->
                                                    </span>
                                                </p>
                                                <h4 class="listItem-title">
                                                    <a ng-href="/Home/Detail/{{data.MaGame}}">{{data.TenGame}}</a>
                                                </h4>
                                            </div>
                                            <div class="listItem-actions">
                                                <div class="listItem-price">
                                                    <div class="price-section price-section--withoutTax ">
                                                        <span data-product-price-without-tax class="price price--withoutTax">{{data.GiaTien|myCurrency}}</span>
                                                    </div>
                                                </div>
                                                <a href="cart.html" class="button button--small button--primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </a>

                        </li>

                    </ul>
                </div>



                <div class="emthemesModez-productsByCategoryColumns
            emthemesModez-productsByCategoryColumns--style1
            emthemesModez-productsByCategoryColumns--instance1">
                    @*category1*@
                    <div class="emthemesModez-productsByCategoryColumns-col emthemesModez-productsByCategoryColumns-col--1">
                        <h3 class="page-heading"><a href="pc.html">@Html.Raw(ViewBag.Category1)</a></h3>
                        <div class="emthemesModez-productsByCategoryColumns-productList">
                            <ul class="productList productList--sidebar" ng-controller="mycontrol">
                                <li class="product" ng-repeat="data in cat1">
                                    <article class="listItem">
                                        <figure class="listItem-figure">
                                            <img class="listItem-image" ng-src="{{data.AnhGame}}" alt="{{data.TenGame}}" title="{{data.TenGame}}">
                                        </figure>
                                        <div class="listItem-body">
                                            <div class="listItem-content">
                                                <div class="listItem-details">
                                                    <p class="listItem-rating">
                                                        <span class="rating--small">
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <h4 class="listItem-title">
                                                        <a href="https://gameworld1.mybigcommerce.com/smith-journal-13/">{{data.TenGame}}</a>
                                                    </h4>
                                                </div>
                                                <div class="listItem-actions">
                                                    <div class="listItem-price">
                                                        <div class="price-section price-section--withoutTax ">
                                                            <span data-product-price-without-tax="" class="price price--withoutTax">{{data.GiaTien|myCurrency}}</span>
                                                        </div>
                                                    </div>
                                                    <a href="https://gameworld1.mybigcommerce.com/cart.php?action=add&amp;product_id=111" class="button button--small button--primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @*category2*@
                    <div class="emthemesModez-productsByCategoryColumns-col emthemesModez-productsByCategoryColumns-col--2">
                        <h3 class="page-heading"><a href="pc.html">@Html.Raw(ViewBag.Category2)</a></h3>
                        <div class="emthemesModez-productsByCategoryColumns-productList">
                            <ul class="productList productList--sidebar" ng-controller="crt2">
                                <li class="product" ng-repeat="data in cat2">
                                    <article class="listItem">
                                        <figure class="listItem-figure">
                                            <img class="listItem-image" ng-src="{{data.AnhGame}}" alt="{{data.TenGame}}" title="{{data.TenGame}}">
                                        </figure>
                                        <div class="listItem-body">
                                            <div class="listItem-content">
                                                <div class="listItem-details">
                                                    <p class="listItem-rating">
                                                        <span class="rating--small">
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <h4 class="listItem-title">
                                                        <a href="https://gameworld1.mybigcommerce.com/smith-journal-13/">{{data.TenGame}}</a>
                                                    </h4>
                                                </div>
                                                <div class="listItem-actions">
                                                    <div class="listItem-price">
                                                        <div class="price-section price-section--withoutTax ">
                                                            <span data-product-price-without-tax="" class="price price--withoutTax">{{data.GiaTien|myCurrency}}</span>
                                                        </div>
                                                    </div>
                                                    <a href="https://gameworld1.mybigcommerce.com/cart.php?action=add&amp;product_id=111" class="button button--small button--primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </li>

                            </ul>
                        </div>
                    </div>

                    @*category3*@
                    <div class="emthemesModez-productsByCategoryColumns-col emthemesModez-productsByCategoryColumns-col--3">
                        <h3 class="page-heading"><a href="pc.html">@Html.Raw(ViewBag.Category3)</a></h3>
                        <div class="emthemesModez-productsByCategoryColumns-productList">
                            <ul class="productList productList--sidebar" ng-controller="ctr3">
                                <li class="product" ng-repeat="data in cat3">
                                    <article class="listItem">
                                        <figure class="listItem-figure">
                                            <img class="listItem-image" ng-src="{{data.AnhGame}}" alt="{{data.TenGame}}" title="{{data.TenGame}}">
                                        </figure>
                                        <div class="listItem-body">
                                            <div class="listItem-content">
                                                <div class="listItem-details">
                                                    <p class="listItem-rating">
                                                        <span class="rating--small">
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                            <span class="icon icon--ratingEmpty">
                                                                <svg>
                                                                    <use xlink:href="#icon-star"></use>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <h4 class="listItem-title">
                                                        <a href="https://gameworld1.mybigcommerce.com/smith-journal-13/">{{data.TenGame}}</a>
                                                    </h4>
                                                </div>
                                                <div class="listItem-actions">
                                                    <div class="listItem-price">
                                                        <div class="price-section price-section--withoutTax ">
                                                            <span data-product-price-without-tax="" class="price price--withoutTax">{{data.GiaTien|myCurrency}}</span>
                                                        </div>
                                                    </div>
                                                    <a href="https://gameworld1.mybigcommerce.com/cart.php?action=add&amp;product_id=111" class="button button--small button--primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>


                <article class="emthemesModez-brandCarousel-container" data-section-type="brands-logo">
                    <div class="emthemesModez-brandCarousel">
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand01.png"><img src="~/Content/images/images-brand01.png" alt="Mango"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand02.png"><img src="~/Content/images/images-brand02.png" alt="Pureen"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand03.png"><img src="~/Content/images/images-brand03.png" alt="Zara"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand04.png"><img src="~/Content/images/images-brand04.png" alt="Aldo"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand05.png"><img src="~/Content/images/images-brand05.png" alt="DKNY"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand01.png"><img src="~/Content/images/images-brand01.png" alt="Mango"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand02.png"><img src="~/Content/images/images-brand02.png" alt="Pureen"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand03.png"><img src="~/Content/images/images-brand03.png" alt="Zara"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand04.png"><img src="~/Content/images/images-brand04.png" alt="Aldo"></a></div>
                        <div class="emthemesModez-brandCarousel-slide"><a href="https://tvlgiao.github.io/bigcommerce-themes/laparis/demo/~/Content/images/brand05.png"><img src="~/Content/images/images-brand05.png" alt="DKNY"></a></div>
                    </div>
                </article>

            </div>

        </div>
        <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
            <a href="#" class="modal-close" aria-label="Close" role="button">
                <span aria-hidden="true">&times;</span>
            </a>
            <div class="modal-content"></div>
            <div class="loadingOverlay"></div>
        </div>
    </div>





    <script src="~/Content/js/js-bundle.js"></script>


    <script type="text/javascript" src="~/Content/js/js-csrf-protection-header-b572e5526f6854c73a5e080ef15a771f963740ae.js"></script>
    <script type="text/javascript" src="~/Content/js/javascript-visitor_stencil.js"></script>

    <!-- snippet location footer -->
</body>

@section scripts{
    <script>

       


        var myApp = angular.module("myApp", [])
            .filter('myCurrency', ['$filter', function ($filter) {
                return function (input) {
                    input = parseFloat(input);
                    input = input.toFixed(input % 1 === 0 ? 0 : 2);
                    return input.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " ₫";
                };
            }]);


        myApp.controller("getData", getData);
        function getData($scope, $http) {

            $http({
                method: "GET",
                url: "/Home/getdb"

            }).then(function (res) {
                $scope.datas = res.data;
            });
        }

        myApp.controller("mycontrol", mycontrol);
        function mycontrol($scope, $http) {

            $http({
                method: "GET",
                url: "/Home/CateGory1"

            }).then(function (res) {
                $scope.cat1 = res.data;
            });
        }


        myApp.controller("crt2", crt2);
        function crt2($scope, $http) {

            $http({
                method: "GET",
                url: "/Home/CateGory2"

            }).then(function (res) {
                $scope.cat2 = res.data;

            });
        }


        myApp.controller("ctr3", ctr3);
        function ctr3($scope, $http) {

            $http({
                method: "GET",
                url: "/Home/CateGory3"

            }).then(function (res) {
                $scope.cat3 = res.data;

            });
        }





        myApp.controller("getLoaiMay", getLoaiMay);
        function getLoaiMay($scope, $http) {

            $http({
                method: "GET",
                url: "/Home/LayLoaimay"

            }).then(function (res) {
                $scope.loaimay = res.data;

            });

            $scope.GetData = function (id) {
                $http({
                    method: "GET",
                    url: "/Home/LaySPTheoLoaiMay?id=" + id,

                }).then(function (res) {
                    $scope.products = res.data;


                });
            }
        }

        myApp.controller("GetGameMostView", GetGameMostView);
        function GetGameMostView($scope, $http) {

            $http({
                method: "GET",
                url: "/Home/GetGameMostView"

            }).then(function (res) {
                $scope.games = res.data;

            });
        }
        myApp.controller("SearchData", SearchData);
        function SearchData($scope, $http) {

            $http({
                method: "GET",
                url: "/Home/dataSearch"

            }).then(function (res) {
                $scope.datas = res.data;
            });
        }

            myApp.controller("recommendPost", recommendPost);
            function recommendPost($scope, $http) {

                $http({
                    method: "GET",
                    url: "/NewsFront/RecommendPost"

                }).then(function (res) {
                    $scope.datas = res.data;
                });
            }



    </script>
    @*<script src="~/Content/js/Angularjs/Layout.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


}





